body {
    padding: 10;
    margin: 10;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    text-align: center;
}